.Mesh {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px 40px;
  overflow-x: auto;
}

.Mesh-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Mesh-semesterNumber {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
