.SubjectModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--SubjectModal-backgroundColor);
  z-index: 2;
}

.SubjectModal-modalContainer {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  background-color: var(--SubjectModal-form-backgroundColor);
  border: 1px solid var(--Subject-borderColor);
  border-radius: 5px;
  box-shadow: 2px 2px 5px var(--Subject-boxShadow);
}

.SubjectModal h2 {
  text-align: center;
}

.SubjectModal hr {
  margin-bottom: 10px;
}

.SubjectModal-form {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.SubjectModal label {
  font-weight: bold;
}

.SubjectModal input {
  text-align: center;
  padding: 5px;
}

.SubjectModal input::-webkit-inner-spin-button,
.SubjectModal input::-webkit-outer-spin-button {
  appearance: none;
}

.SubjectModal-creditsInputContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid var(--Subject-borderColor);
  border-radius: 5px;
  padding: 2px 10px;
}

.SubjectModal-creditsInputContainer input {
  width: 60%;
}

.SubjectModal-button {
  padding: 2px 5px;
}

.SubjectModal-creditButton {
  width: 25px;
  height: 25px;
}

.SubjectModal-buttonContainer {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  margin-top: 5px;
}
